@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata/static/Inconsolata/Inconsolata-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand/static/Quicksand-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
  font-weight: 400;
}
body {
  font-family: "Raleway", sans-serif;
  color: rgb(43, 46, 45);
  background-color: rgba(107, 119, 103, 0.8);
}
body article {
  background-image: linear-gradient(180deg, rgba(170, 211, 158, 0.8) 0%, rgba(230, 245, 226, 0.822) 30%, rgba(170, 211, 158, 0.8) 60%, rgba(107, 119, 103, 0.8) 80%, rgba(170, 211, 158, 0.8) 90%);
  width: 90%;
  height: 300vh;
  margin: 0 auto;
  box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.5);
}
body article header {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}
body article header h1:first-of-type {
  transform: translate(80px, -50px) rotate(0deg);
  letter-spacing: 5px;
}
body article header h1 {
  width: 400px;
  font-size: 1.8em;
  margin: 100px 0 0 10px;
  font-family: "Inconsolata", monospace;
  transform: translate(-10px, 20px) rotate(30deg);
}
body article header h1 .myName {
  text-align: center;
  width: 500px;
}
body article header h1 .myName span {
  display: inline-block;
}
body article header h1 .myName .m1 {
  transform: translate(60px, -30px) rotate(0deg);
}
body article header h1 .myName .a1 {
  transform: translate(60px, -28px) rotate(0deg);
}
body article header h1 .myName .r1 {
  transform: translate(60px, -25px) rotate(-5deg);
}
body article header h1 .myName .t1 {
  transform: translate(60px, -25px) rotate(-15deg);
}
body article header h1 .myName .y1 {
  transform: translate(60px, -35px) rotate(-28deg);
}
body article header h1 .myName .n1 {
  transform: translate(55px, -60px) rotate(-40deg);
}
body article header h1 .myName .a2 {
  transform: translate(38px, -90px) rotate(-50deg);
}
body article header h1 .myName .punkt {
  transform: translate(25px, -120px) rotate(-60deg);
}
body article header h1 .moreAbout span {
  display: inline-block;
}
body article header h1 .moreAbout .a4 {
  transform: translate(0px, -2px) rotate(-5deg);
}
body article header h1 .moreAbout .b1 {
  transform: translate(390px, -35px) rotate(-12deg);
}
body article header h1 .moreAbout .o2 {
  transform: translate(388px, -42px) rotate(-20deg);
}
body article header h1 .moreAbout .u1 {
  transform: translate(385px, -50px) rotate(-25deg);
}
body article header h1 .moreAbout .t2 {
  transform: translate(382px, -60px) rotate(-28deg);
}
body article header h1 .moreAbout .m4 {
  transform: translate(380px, -86px) rotate(-30deg);
}
body article header h1 .moreAbout .e3 {
  transform: translate(377px, -105px) rotate(-40deg);
}
body article header h1 .moreAbout .punkt2 {
  transform: translate(375px, -130px) rotate(-28deg);
}
body article header h1 .moreAbout .punkt3 {
  transform: translate(370px, -155px) rotate(-30deg);
}
body article header h1 .moreAbout .punkt4 {
  transform: translate(360px, -180px) rotate(-40deg);
}
body article header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body article header ul li {
  margin: 20px;
}
body article header ul .click {
  padding: 8px;
  border: 2px solid rgb(68, 68, 68);
  border-radius: 5px;
  box-shadow: 0px 0px 8px 2px rgba(22, 73, 56, 0.486);
}
body article header p {
  font-size: 0.8em;
  position: absolute;
  width: 150px;
}
body article header p:first-of-type {
  bottom: 100px;
  left: 50px;
}
body article header p:nth-of-type(2) {
  top: 100px;
  right: 50px;
}
body article main {
  width: 90%;
  margin-left: 30px;
  display: grid;
}
body article main h2, body article main h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
}
body article main .contact {
  position: relative;
  width: 90%;
  height: 400px;
}
body article main .contact .ball {
  position: absolute;
  left: 250px;
  top: 150px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(68, 153, 120);
  box-shadow: 5px 2px 20px 5px rgba(58, 92, 155, 0.5);
}
body article main .contact .card {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  height: 180px;
  background-color: rgba(216, 216, 174, 0.5);
  border: 1px solid rgba(179, 179, 2, 0.2);
  border-radius: 10px;
  box-shadow: 5px 2px 20px 5px rgba(209, 209, 91, 0.5);
}
body article main .contact .card p {
  padding: 5px 0 0px 20px;
}
body article footer {
  margin-left: 30px;
}
body article footer span {
  margin-right: 30px;
}

/*# sourceMappingURL=main.css.map */
