@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata/static/Inconsolata/Inconsolata-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand/static/Quicksand-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
  font-weight: 400;
}
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  color: rgb(43, 46, 45);
  background-image: linear-gradient(180deg, rgba(250, 234, 142, 0.521) 0%, rgba(162, 209, 190, 0.822) 30%, rgba(91, 126, 91, 0.8) 60%, rgba(255, 255, 255, 0.1) 90%);
}

main {
  width: 90%;
  margin: 0 auto;
}

h1, .main-menu span {
  font-family: "Inconsolata", monospace;
  font-weight: 700;
}

h2, h3, h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

section, footer {
  margin: 5rem 0;
}

footer {
  margin: 0 auto;
}
footer a:nth-of-type(1) .back-to-top {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(91, 126, 91, 0.8);
}
footer a:nth-of-type(1) .back-to-top .fa-solid {
  margin: 0.5em;
}
footer a:nth-of-type(1) .back-to-top h5 {
  text-decoration: underline;
  text-transform: uppercase;
  margin: 1em;
}
footer a:nth-of-type(1) .back-to-top:hover {
  color: #fff;
  font-weight: 700;
}
footer div {
  margin-bottom: 20px;
}
footer div a {
  font-size: 0.8em;
  text-align: center;
  padding: 10px;
}
footer div a:hover {
  color: #fff;
  font-weight: 700;
}
footer div a span {
  display: block;
  margin: 10px;
  text-transform: uppercase;
}
footer div a .fa-brands {
  display: block;
  margin: 20px auto;
}
@media screen and (min-width: 481px) {
  footer a:nth-of-type(1) .back-to-top {
    font-size: 1em;
  }
  footer div a {
    font-size: 1em;
  }
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    height: 30vh;
  }
  footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  footer div a span {
    margin: 10px;
    text-transform: uppercase;
  }
  footer div a .fa-brands {
    margin-top: 10px;
  }
}

/* END GLOBAL STYLES */
.main-menu {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  text-align: center;
}
.main-menu span {
  text-align: left;
  font-size: 1.6em;
  transform: rotate(-30deg);
}
@media screen and (min-width: 768px) {
  .main-menu span {
    font-size: 1.8em;
    transform: translate(-20px, 50px) rotate(-57deg);
  }
}
.main-menu nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-menu nav ul li a {
  font-size: 1.5em;
  padding: 20px;
  display: inline-block;
}
.main-menu nav ul li a:hover {
  color: #fff;
  font-weight: 700;
}
.main-menu nav ul .click {
  padding: 8px;
  border: 2px solid rgb(68, 68, 68);
  border-radius: 5px;
  box-shadow: 0px 0px 8px 2px rgba(22, 73, 56, 0.486);
}
.main-menu nav ul .click:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 2px solid rgba(91, 126, 91, 0.8);
}
@media screen and (min-width: 768px) {
  .main-menu {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-menu span {
    align-self: flex-end;
  }
  .main-menu nav ul {
    flex-direction: row;
    align-items: center;
  }
}

article {
  background-image: linear-gradient(180deg, rgba(250, 234, 142, 0.521) 0%, rgba(162, 209, 190, 0.822) 30%, rgba(250, 234, 142, 0.521) 60%, rgba(162, 209, 190, 0.822) 90%);
  width: 90%;
  margin: 30px auto;
  box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.starter p {
  font-size: 0.9em;
  margin-top: 2em;
}
@media screen and (min-width: 768px) {
  .starter {
    height: 50vh;
    position: relative;
  }
  .starter h1, .starter .main-menu span, .main-menu .starter span {
    font-size: 1.8em;
    width: 400px;
    transform: rotate(30deg);
    margin-left: 20px;
  }
  .starter h1 .myName, .starter .main-menu span .myName, .main-menu .starter span .myName {
    text-align: center;
    width: 500px;
    transform: translateX(100px);
  }
  .starter h1 .myName span, .starter .main-menu span .myName span, .main-menu .starter span .myName span {
    display: inline-block;
  }
  .starter h1 .myName .m1, .starter .main-menu span .myName .m1, .main-menu .starter span .myName .m1 {
    transform: translate(60px, -30px) rotate(0deg);
  }
  .starter h1 .myName .a1, .starter .main-menu span .myName .a1, .main-menu .starter span .myName .a1 {
    transform: translate(60px, -28px) rotate(0deg);
  }
  .starter h1 .myName .r1, .starter .main-menu span .myName .r1, .main-menu .starter span .myName .r1 {
    transform: translate(60px, -25px) rotate(-5deg);
  }
  .starter h1 .myName .t1, .starter .main-menu span .myName .t1, .main-menu .starter span .myName .t1 {
    transform: translate(60px, -25px) rotate(-15deg);
  }
  .starter h1 .myName .y1, .starter .main-menu span .myName .y1, .main-menu .starter span .myName .y1 {
    transform: translate(60px, -35px) rotate(-28deg);
  }
  .starter h1 .myName .n1, .starter .main-menu span .myName .n1, .main-menu .starter span .myName .n1 {
    transform: translate(55px, -60px) rotate(-40deg);
  }
  .starter h1 .myName .a2, .starter .main-menu span .myName .a2, .main-menu .starter span .myName .a2 {
    transform: translate(38px, -90px) rotate(-50deg);
  }
  .starter h1 .myName .punkt, .starter .main-menu span .myName .punkt, .main-menu .starter span .myName .punkt {
    transform: translate(25px, -120px) rotate(-60deg);
  }
  .starter h1 .moreAbout span, .starter .main-menu span .moreAbout span, .main-menu .starter span .moreAbout span {
    display: inline-block;
  }
  .starter h1 .moreAbout .a4, .starter .main-menu span .moreAbout .a4, .main-menu .starter span .moreAbout .a4 {
    transform: translate(0px, -2px) rotate(-5deg);
  }
  .starter h1 .moreAbout .b1, .starter .main-menu span .moreAbout .b1, .main-menu .starter span .moreAbout .b1 {
    transform: translate(398px, -35px) rotate(-12deg);
  }
  .starter h1 .moreAbout .o2, .starter .main-menu span .moreAbout .o2, .main-menu .starter span .moreAbout .o2 {
    transform: translate(391px, -40px) rotate(-15deg);
  }
  .starter h1 .moreAbout .u1, .starter .main-menu span .moreAbout .u1, .main-menu .starter span .moreAbout .u1 {
    transform: translate(386px, -46px) rotate(-18deg);
  }
  .starter h1 .moreAbout .t2, .starter .main-menu span .moreAbout .t2, .main-menu .starter span .moreAbout .t2 {
    transform: translate(385px, -55px) rotate(-25deg);
  }
  .starter h1 .moreAbout .punkt1, .starter .main-menu span .moreAbout .punkt1, .main-menu .starter span .moreAbout .punkt1 {
    transform: translate(384px, -64px) rotate(-25deg);
  }
  .starter h1 .moreAbout .m4, .starter .main-menu span .moreAbout .m4, .main-menu .starter span .moreAbout .m4 {
    transform: translate(380px, -82px) rotate(-36deg);
  }
  .starter h1 .moreAbout .e3, .starter .main-menu span .moreAbout .e3, .main-menu .starter span .moreAbout .e3 {
    transform: translate(377px, -105px) rotate(-40deg);
  }
  .starter h1 .moreAbout .punkt2, .starter .main-menu span .moreAbout .punkt2, .main-menu .starter span .moreAbout .punkt2 {
    transform: translate(375px, -130px) rotate(-28deg);
  }
  .starter h1 .moreAbout .punkt3, .starter .main-menu span .moreAbout .punkt3, .main-menu .starter span .moreAbout .punkt3 {
    transform: translate(370px, -155px) rotate(-30deg);
  }
  .starter h1 .moreAbout .punkt4, .starter .main-menu span .moreAbout .punkt4, .main-menu .starter span .moreAbout .punkt4 {
    transform: translate(360px, -180px) rotate(-40deg);
  }
  .starter p {
    font-size: 0.8em;
    position: absolute;
    width: 150px;
  }
  .starter p:first-of-type {
    bottom: 100px;
    left: 0px;
  }
  .starter p:nth-of-type(2) {
    top: 0px;
    right: 0px;
  }
}
@media screen and (min-width: 992px) {
  .starter h1, .starter .main-menu span, .main-menu .starter span {
    margin-left: 100px;
    font-size: 2em;
  }
  .starter h1 .moreAbout .punkt10, .starter .main-menu span .moreAbout .punkt10, .main-menu .starter span .moreAbout .punkt10 {
    transform: translate(390px, -32px) rotate(-5deg);
  }
  .starter h1 .moreAbout .a4, .starter .main-menu span .moreAbout .a4, .main-menu .starter span .moreAbout .a4 {
    transform: translate(396px, -32px) rotate(-5deg);
  }
}

.process h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.8em;
}
.process ul li:nth-of-type(odd) {
  margin-top: 25px;
}
.process ul li:nth-of-type(odd):hover {
  color: #fff;
  font-weight: 700;
}
.process ul li:nth-of-type(even) {
  margin-top: 10px;
}
.process ul span {
  font-size: 1.6em;
  padding: 20px;
}
.process ul h4 {
  font-size: 1.2em;
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid rgba(91, 126, 91, 0.8);
}
.process ul p {
  font-size: 0.8em;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}
@media screen and (min-width: 481px) {
  .process ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .process ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
  }
  .process ul li a {
    width: 100%;
  }
  .process ul li a span {
    display: block;
    text-align: center;
    padding: 0;
  }
  .process ul li a h4 {
    text-align: center;
  }
  .process ul p {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .process h2 {
    text-align: left;
  }
  .process ul {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: 10%;
    text-align: right;
  }
  .process ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .process ul li a h4 {
    width: 80%;
    text-align: end;
  }
  .process ul li a span {
    display: unset;
    padding: 20px;
  }
  .process ul li p {
    font-size: 0.8em;
    width: 50%;
    margin-left: 50%;
    text-align: left;
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.about h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.8em;
  text-align: left;
}
.about h4 {
  color: #fff;
}
.about p {
  text-align: justify;
}
.about .person {
  background-image: url(../img/person.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: 100px 150px repeat(3, 1fr) 30px;
    grid-template-rows: 50px 50px 100px 50px 100px 100px;
    gap: 20px;
  }
  .about h4 {
    grid-area: 2/5/4/6;
    z-index: 1;
  }
  .about p.first-sentence {
    grid-area: 3/2/4/3;
    text-align: left;
  }
  .about p.second-sentence {
    grid-area: 5/1/7/4;
    text-align: justify;
  }
  .about .person {
    background-image: url(../img/person.webp);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px rgba(22, 73, 56, 0.486);
    grid-area: 3/4/5/6;
    margin: 0;
  }
}

.skills h3 {
  font-size: 1.3em;
  text-align: center;
}
.skills table {
  text-align: left;
  border-spacing: 20px;
}
.skills table tr {
  height: 40px;
}
.skills table tr th {
  font-size: 0.9em;
}
.skills table tr td {
  width: 50px;
}
.skills table tr td div {
  height: 50%;
  width: 100%;
  border-bottom: 2px solid rgba(91, 126, 91, 0.8);
}
@media screen and (min-width: 768px) {
  .skills h3 {
    text-align: left;
  }
  .skills table {
    margin: 30px auto;
    width: 50%;
  }
}

.projects {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 0px 0px 8px 2px rgba(22, 73, 56, 0.486);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 30px;
}
.projects h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.8em;
}
.projects h4 {
  padding: 3px;
}
.projects a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 2px solid rgba(91, 126, 91, 0.8);
}
.projects a:hover h4 {
  color: red;
  transform: translate(40px, 60px) scale(1.3);
  transition: transform 0.5s, color 0.5s;
}
.projects .planning {
  background-image: url(../img/prototype.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  color: #fff;
}
.projects .creating {
  background-image: url(../img/desktops.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  color: brown;
}
.projects .testing {
  background-image: url(../img/ipad-touch.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  color: cornflowerblue;
}
.projects .work {
  background-image: url(../img/am-tisch.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  color: blue;
}
@media screen and (min-width: 481px) {
  .projects a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 2px solid rgba(91, 126, 91, 0.8);
  }
  .projects a:hover h4 {
    transform: translate(60px, 60px) scale(1.3);
    transition: transform 0.5s, color 0.5s;
  }
}
@media screen and (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 50px repeat(4, 125px) 180px;
    gap: 40px;
    margin: 0 auto;
  }
  .projects h2 {
    text-align: left;
  }
  .projects a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 2px solid rgba(91, 126, 91, 0.8);
  }
  .projects a:hover h4 {
    color: red;
    transform: translate(40px, 60px) scale(1.3);
  }
  .projects .planning {
    background-image: url(../img/prototype.jpeg);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px rgba(22, 73, 56, 0.486);
    grid-area: 2/2/3/3;
    color: #fff;
  }
  .projects div:nth-of-type(1) {
    display: none;
  }
  .projects .creating {
    background-image: url(../img/desktops.webp);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px rgba(22, 73, 56, 0.486);
    grid-area: 3/1/5/2;
    color: brown;
  }
  .projects div:nth-of-type(2) {
    display: none;
  }
  .projects .testing {
    background-image: url(../img/ipad-touch.webp);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px rgba(22, 73, 56, 0.486);
    grid-area: 4/2/6/3;
    color: cornflowerblue;
  }
  .projects div:nth-of-type(3) {
    display: none;
  }
  .projects .work {
    background-image: url(../img/am-tisch.jpeg);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px rgba(22, 73, 56, 0.486);
    grid-area: 5/1/6/2;
    color: blue;
  }
  .projects div:nth-of-type(4) {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .projects {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 50px 50px 250px 50px 80px 90px 50px 100px;
    gap: 20px;
  }
  .projects a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 2px solid rgba(91, 126, 91, 0.8);
  }
  .projects a:hover h4 {
    color: red;
    transform: translate(40px, 60px) scale(1.3);
  }
  .projects .planning {
    background-image: url(../img/prototype.jpeg);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px rgba(22, 73, 56, 0.486);
    grid-area: 2/3/5/6;
    color: #fff;
  }
  .projects div:nth-of-type(1) {
    display: unset;
    grid-area: 2/6/3/9;
  }
  .projects .creating {
    background-image: url(../img/desktops.webp);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px rgba(22, 73, 56, 0.486);
    grid-area: 4/5/7/8;
    color: brown;
  }
  .projects div:nth-of-type(2) {
    display: unset;
    grid-area: 7/5/8/8;
  }
  .projects .testing {
    background-image: url(../img/ipad-touch.webp);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px rgba(22, 73, 56, 0.486);
    grid-area: 3/1/4/3;
    color: cornflowerblue;
  }
  .projects div:nth-of-type(3) {
    display: unset;
    grid-area: 4/1/5/3;
  }
  .projects .work {
    background-image: url(../img/am-tisch.jpeg);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px rgba(22, 73, 56, 0.486);
    grid-area: 5/2/8/5;
    color: blue;
  }
  .projects div:nth-of-type(4) {
    grid-area: 8/2/9/5;
    display: unset;
  }
}

.pricing {
  display: flex;
  flex-direction: column;
}
.pricing h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.8em;
}
.pricing a {
  padding: 20px 0;
  margin-top: 20px;
  border-bottom: 1px solid rgba(91, 126, 91, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pricing a:hover *, .pricing a:hover i {
  color: #fff;
  font-weight: 700;
}
.pricing a span {
  color: rgba(91, 126, 91, 0.8);
  font-size: 2em;
}
.pricing a p {
  text-transform: uppercase;
}
.pricing a .fa-2xl {
  color: rgba(91, 126, 91, 0.8);
}
@media screen and (min-width: 768px) {
  .pricing h2 {
    margin-bottom: 30px;
    text-align: start;
  }
  .pricing a {
    line-height: 0.5em;
    padding: 20px;
    margin-top: 20px;
    border-bottom: 1px solid rgba(91, 126, 91, 0.8);
    display: grid;
    grid-template-columns: repeat(2, 2fr) 200px 1fr 50px;
  }
  .pricing a:hover {
    color: #fff;
    font-weight: 700;
  }
  .pricing a span {
    color: rgba(91, 126, 91, 0.8);
    font-size: 2em;
  }
  .pricing a p {
    text-transform: uppercase;
  }
  .pricing a .fa-2xl {
    color: rgba(91, 126, 91, 0.8);
  }
  .pricing a:nth-of-type(1) {
    grid-template-areas: "span1 . p1 . i1";
  }
  .pricing a:nth-of-type(1) span {
    grid-area: span1;
  }
  .pricing a:nth-of-type(1) p {
    grid-area: p1;
  }
  .pricing a:nth-of-type(1) i {
    grid-area: i1;
  }
  .pricing a:nth-of-type(2) {
    grid-template-areas: "span1 . p1 . i1";
  }
  .pricing a:nth-of-type(2) span {
    grid-area: span1;
  }
  .pricing a:nth-of-type(2) p {
    grid-area: p1;
  }
  .pricing a:nth-of-type(2) i {
    grid-area: i1;
  }
  .pricing a:nth-of-type(3) {
    grid-template-areas: "span . p . i";
  }
  .pricing a:nth-of-type(3) span {
    grid-area: span;
  }
  .pricing a:nth-of-type(3) p {
    grid-area: p;
  }
  .pricing a:nth-of-type(3) i {
    grid-area: i;
  }
}

.contact {
  text-align: center;
  height: 60vh;
  position: relative;
  /* The modal's background */
}
.contact h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.8em;
}
.contact h4 {
  width: 80%;
  margin: 4em auto;
}
.contact .get-started {
  margin-top: 4em;
  font-size: 1.2em;
  font-weight: 800;
  text-transform: capitalize;
  background-color: transparent;
  color: rgb(13, 107, 145);
  border-bottom: 1px solid rgb(13, 107, 145);
}
.contact .get-started:hover {
  color: #fff;
  font-weight: 700;
  border-bottom: 1px solid #fff;
}
.contact .get-started:target {
  display: none;
}
.contact .modal {
  display: none;
  left: 0;
  top: 160px;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.contact .modal:target {
  display: table;
  position: absolute;
  border-radius: 10px;
}
.contact .modal .modal-dialog {
  display: table-cell;
}
.contact .modal .modal-dialog, .contact .modal .modal-content {
  margin: auto;
  background-color: rgba(122, 122, 122, 0.5);
  border: 1px solid rgba(179, 179, 2, 0.2);
  position: relative;
  padding: 0;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: get-started 0.5s;
}
.contact .modal header.modal-text {
  background-color: rgba(91, 126, 91, 0.8);
  font-size: 0.8em;
  color: white;
  border-radius: 10px;
  /* The button used to close the modal */
}
.contact .modal header.modal-text h2 {
  margin-bottom: unset;
  padding: 10px;
}
.contact .modal header.modal-text .closebtn {
  text-decoration: none;
  float: right;
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px 0 0;
}
.contact .modal header.modal-text .closebtn:hover,
.contact .modal header.modal-text .closebtn:focus {
  color: rgba(91, 126, 91, 0.8);
  text-decoration: none;
  cursor: pointer;
}
.contact .modal .con {
  position: relative;
  width: 100%;
  height: 180px;
}
.contact .modal .con .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-image: linear-gradient(315deg, rgba(255, 255, 255, 0.1) 0%, white 80%);
  border: 1px solid rgba(179, 179, 2, 0.2);
  border-radius: 10px;
  box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.5);
}
.contact .modal .con .card p {
  padding: 5px 0 0px 10px;
}
.contact .modal .con .ball {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
.contact .modal .con .ball-xl {
  right: -20px;
  bottom: -100px;
  width: 150px;
  height: 150px;
  background-image: linear-gradient(250deg, rgba(162, 209, 190, 0.822) 0%, rgba(91, 126, 91, 0.8) 70%);
  box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.5);
}
.contact .modal .con .ball-sm {
  right: -50px;
  bottom: 20px;
  width: 100px;
  height: 100px;
  background-color: rgba(91, 126, 91, 0.8);
  box-shadow: 5px 2px 20px 5px rgba(52, 70, 102, 0.5);
}
@keyframes get-started {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@media screen and (min-width: 481px) {
  .contact .con .card p {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    height: 70vh;
    text-align: left;
  }
  .contact h2 {
    margin: 0 0 60px 40%;
    width: 40%;
  }
  .contact h4 {
    width: 25%;
    line-height: 1.8em;
    margin: 4em 0;
    font-size: 1.3em;
  }
  .contact .get-started {
    margin-left: 5px;
  }
  .contact .modal {
    top: 280px;
    width: 70%;
    max-width: 500px;
    height: 230px;
  }
  .contact .modal header.modal-text h2 {
    margin: unset;
    width: unset;
    text-align: center;
    padding: 20px;
    font-size: 1.8em;
  }
  .contact .modal .con {
    width: 100%;
    height: 200px;
  }
  .contact .modal .con .card p {
    font-size: 1.3em;
  }
  .contact .modal .con .ball-xl {
    right: -50px;
    bottom: -100px;
    width: 180px;
    height: 180px;
  }
  .contact .modal .con .ball-sm {
    right: -80px;
    bottom: 20px;
    width: 130px;
    height: 130px;
  }
}

.newsletter {
  border: 1px solid rgba(179, 179, 2, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.newsletter .container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.newsletter .container #toggle {
  display: none;
}
.newsletter .container .button {
  position: absolute;
  z-index: 999;
  width: 43px;
  height: 43px;
  background: rgba(91, 126, 91, 0.8);
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -12px;
}
.newsletter .container .button:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background: #fff;
  transform: rotate(90deg);
  transition: all 0.4s ease;
}
.newsletter .container .button:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background: #fff;
  transition: all 0.4s ease;
}
.newsletter .container .news {
  text-align: center;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  background: #fff;
  width: 100%;
  border-radius: 5px;
  transform: translateY(0%);
  box-shadow: 0px 0px 8px 2px rgba(22, 73, 56, 0.486);
  border: 1px solid rgba(179, 179, 2, 0.2);
  padding: 10px;
}
.newsletter .container .news ul, .newsletter .container .news form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.newsletter .container .news ul a, .newsletter .container .news ul label, .newsletter .container .news form a, .newsletter .container .news form label {
  text-align: center;
  margin: 20px 0;
  color: rgba(91, 126, 91, 0.8);
  text-decoration: none;
  font-family: "Quicksand", sans-serif, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}
.newsletter .container .news ul a:hover, .newsletter .container .news ul label:hover, .newsletter .container .news form a:hover, .newsletter .container .news form label:hover {
  font-weight: 600;
}
.newsletter .container .news ul input, .newsletter .container .news form input {
  border: none;
  background-color: rgba(162, 209, 190, 0.822);
  width: 80%;
  height: 30px;
  margin: 0 auto;
}
.newsletter .container .news form {
  border: 2px solid rgba(162, 209, 190, 0.822);
  border-radius: 5px;
}
.newsletter .container .news form:hover {
  background-color: rgba(179, 179, 2, 0.2);
  font-weight: 800;
}
.newsletter .container .news form label {
  display: block;
  margin-bottom: 5px;
}
.newsletter .container .news form label:hover {
  color: rgb(13, 107, 145);
}
.newsletter .container .news form label a {
  padding: 10px;
}
.newsletter .container .news form label a:hover {
  color: rgb(13, 107, 145);
}
.newsletter .container .news form input, .newsletter .container .news form label {
  margin: 5px auto;
  text-align: center;
  border-radius: 5px;
}
.newsletter .container .news form input::placeholder, .newsletter .container .news form label::placeholder {
  color: rgba(91, 126, 91, 0.8);
}
.newsletter .container .news form button {
  width: 50%;
  padding: 5px;
  margin: 20px auto;
  text-transform: capitalize;
  background-color: transparent;
  color: rgba(91, 126, 91, 0.8);
  border: none;
  border: 1px solid rgba(91, 126, 91, 0.8);
  border-radius: 5px;
}
.newsletter .container .news form button:hover {
  color: #fff;
  background-color: rgba(91, 126, 91, 0.8);
  font-weight: 800;
}
.newsletter .container .news form .close-btn {
  font-size: 2em;
}
.newsletter .container .news form .close-btn:hover {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .newsletter .container .news {
    max-width: 500px;
  }
}
.newsletter .container #toggle:checked ~ .news {
  opacity: 1;
  transform: translateY(5%);
}
.newsletter .container #toggle:checked ~ .button:before {
  transform: rotate(225deg);
}
.newsletter .container #toggle:checked ~ .button:after {
  transform: rotate(135deg);
}

#unseen {
  display: none;
}
#unseen:target {
  display: block;
}

/*# sourceMappingURL=main.css.map */
