
// **************************************
// FONTS

@mixin h2-mobile {
        margin-bottom: 30px;
        text-align: center;
        font-size: 1.8em;
}

// **************************************
// VARIABLES

$font-test: 'Raleway', sans-serif;
$font-main:'Quicksand', sans-serif;
$font-header: 'Inconsolata', monospace;

// **************************************
// BREAKPOINTS

$mobile-xl: 481px;
$tablet:768px;
$desktop:992px;

// **************************************
// COLORS

$bg: rgba(230, 245, 226, 0.822);
$bg-middle: rgba(174, 190, 169, 0.5);
$bg-dark: rgba(107, 119, 103, 0.8);

$font-color: rgb(43, 46, 45);

$white-transparent: rgb(255, 255, 255, 0.1);
$white-transparent-xl: rgb(255, 255, 255, 0.5);
$white: #fff;

$yellow: rgb(255, 251, 0, 1);
$pink: rgb(241, 28, 146);

$border-color: rgba(179, 179, 2, 0.2);


// **************************************
// FLEX

@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


// **************************************
// IMAGES

@mixin image-mobile {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    @include box-shadow-lg();
    margin: 0 auto;
}
@mixin image-mobile-lg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    @include box-shadow-lg();
    margin: 0 auto;
}
@mixin image-xl {
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    @include box-shadow-xs();
}

// **************************************
// BUTTONS

@mixin button {
    text-transform: capitalize;
    background-color: transparent;
    color: $bg-dark;
    border: none;
    border-bottom: 1px solid $bg-dark;
}

@mixin button-highlight {
    font-size: 1.2em;
    font-weight: 800;
    text-transform: capitalize;
    background-color: transparent;
    color: $pink;
    border-bottom: 1px solid $pink;
}

@mixin back-to-top {
    @include flex($direction:column);
    color: $bg-dark;
    .fa-solid {
        margin: .5em;
    }
    h5 {
        text-decoration: underline;
        text-transform: uppercase;
        margin: 1em;
    }
}

// **************************************
// SHADOW

@mixin box-shadow-lg() {
    box-shadow: 2px 2px 25px 5px rgb(0, 0, 0, .5);
}

@mixin box-shadow-xs() {
    box-shadow: 0px 0px 8px 2px rgba(22, 73, 56, 0.486);
}
@mixin box-shadow-xxs() {
    box-shadow: 2px 3px 10px 0 rgba(81, 81, 81, 0.1);
}


// **************************************
// MARGIN

@mixin margin-section {
    margin-top: 30px;
}
$margin-xl: 100px;

$margin-m: 50px;

$margin-s: 20px;


// **************************************
// BORDER-RADIUS
@mixin border-radius-xs {
    border-radius: 5px;
}

@mixin border-radius {
    border-radius: 10px;
}

$border-radius-lg: 20px;


// HOVER
@mixin hover {
    background-color: $white-transparent;
    color: $white;
    border: 2px solid $bg-dark;
}

@mixin hover1 {
    color: $white;
    font-weight: 700;    
}
@mixin hover2 {
    color: $white;
    font-weight: 700;
    border-bottom: 1px solid $white;
}