
@font-face {
    font-family: 'Inconsolata';
    src: url(../fonts/Inconsolata/static/Inconsolata/Inconsolata-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/Quicksand/static/Quicksand-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
    font-weight: 400;
}

